<!-- admin.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - CineLens</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2>Add Movie</h2>
    <form action="/addmovie" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="image">Image URL:</label><br>
        <input type="text" id="image" name="image"><br>
        <label for="director">director:</label><br>
        <input type="text" id="director" name="director"><br>
        <label for="producer">producer:</label><br>
        <input type="text" id="producer" name="producer"><br>
        <label for="cast">cast:</label><br>
        <input type="text" id="cast" name="cast"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="onlineLink">onlineLink:</label><br>
        <input type="text" id="onlineLink" name="onlineLink"><br>
        <label for="downloadLink">downloadLink:</label><br>
        <input type="text" id="downloadLink" name="downloadLink"><br>
        <button type="submit">Add Movie</button>
    </form>
    
    <button id="logoutButton">Logout</button>

    <hr>

    <!-- Table to display existing movies -->
    <h2>Existing Movies</h2>
    <table id="movieTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Movie data will be populated here dynamically -->
        </tbody>
    </table>

    <script>
        document.getElementById("logoutButton").addEventListener("click", function () {
            fetch('/adminLogout', {
                method: 'GET'
            })
            .then(response => {
                if (response.redirected) {
                    // Redirect to the login page after successful logout
                    window.location.href = response.url;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred during logout.');
            });
        });
    </script>
</body>

</html>
